@import 'https://fonts.googleapis.com/css?family=Raleway';

html, body {
    margin: 0;
}

.body-container {
    background-color: #5995DA;
    padding: 20px 0;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.group-container {
    display: flex;
    padding: 10px 0;
    justify-content: center;
    /*flex-wrap: wrap;*/

}



.card-text {
    font-family: Raleway;
    background-color: #47e9ff;
    border: 1px solid #fff;

    padding: 20px;

    width: 40%;
}

