html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    font-family: 'Fjalla One', sans-serif;
}

.contact-icon {
    margin-right: 5px;
}

.flex-container {
    display: flex;
    flex-direction: column;
}
