html {
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

.section-title {
    font-family: 'Fjalla One', sans-serif;
}

.contact-icon {
    margin-right: 5px;
}

.body-container {
    display: flex;
    justify-content: space-evenly;
    flex-flow: row wrap;
    align-items: flex-start;
}

.text-box {
    margin: 20px;
    /*display: flex;*/
    /*justify-content: space-around;*/
}
